*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 53px;
    text-transform: uppercase;
    color:#f5b422f0;
    font-weight: 600;
    line-height: 60px;
}
h2{
    font-size: 35px;
}
h5{
    font-weight: 600;
    color: #34265f;
}
a{
    text-decoration: none;
}
span{
    color: #34265fe3;
    font-weight: 600;
}
p{
    font-size: 14px;
}
/* Start Header Section */
.navbar-nav li{
    padding: 0px 14px;
}
.navbar-nav li a{
    color: rgb(44, 44, 44);
    font-weight: 600;
    font-size: 18px;
}
.navbar-nav li a:hover{
    color: #606e26;
}
.padding-top{
    padding: 30px;
}
.bg-color{
    background-color: rgb(255, 248, 248);
}
.nav-icon{
    color: #fff;
}
/* End NavBar Section */

/* Start Content Section */
.greenbtn{
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-image: linear-gradient(to right, #a4bc46 0%, #41491e 51%, #4a5323 100%);
    padding: 12px 30px;
    border-radius: 10px;
    transition: all .5s ease;
    background-size: 200% auto;
}
.greenbtn:hover{
    color: white;
    background-image: linear-gradient(to right, #8a9c3f 100%, #41491e 51%, #3d441d 0%);
}
/* End Content Section */

/* Start Product Section */
.item-color{
    color: #34265f;
    font-weight: 600;
}
.product-item img{
    width: 100%;
    padding: 15px;
}
.product-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: auto;
}
.bg-gray{
    background-color:rgb(241, 240, 240);
    border-radius: 20px;
}
.product-item p{
    color: rgb(85, 84, 84);
}
.product-item span{
    color:#f5b622de;
    font-size: 30px;
}  
.shadow-one{
    box-shadow: 0px 3px 23px 3px #efeeeead;
    border-radius: 20px;
    /* border: 1px solid black; */
}
/* End Product Section */

/* Blog Section */
.text-color{
    color: rgb(85, 84, 84);
}
.margin-7{
    margin-bottom: 7rem;
}
.blog{
    padding: 15px 31px;
}
/* ./ Blog Section */

/* Contact Section */
.contact-title h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 4%;
}
.contact-description{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid #CECECE;
    border-radius: 0;
}
.form-control:ho{
    border: none;
}

.form-control::placeholder{
    color: rgb(182, 177, 177);
}
.w-20{
    width: 20%;
}
/* ./ Contact Section */

/* Footer Section */
footer{
    padding: 20px 0;
    text-align: center;
    background: rgb(245, 237, 237);
}
.footer .social-icon {
    margin-bottom: 0;
}
footer .social-icons li a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 10px 5px;
    border: 1px solid transparent;
    color: #2b2b2b;

}
footer .social-icons li a i{
    color: #2b2b2b; 
}
footer .social-icons li a:hover{
  background: #ff8000; 
}
footer .social-icons li a:hover{
    color: #fff; 
    transition: all .3s ease-in-out;
}